<div class="recuperar-container">
  <div class="recuperar-card">
    <h2>Recuperar contraseña</h2>
    <p>Ingresá tu correo electrónico y te enviaremos instrucciones.</p>

    <form [formGroup]="forms">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" [readonly]="emailBloqueado">
        @if (forms.controls['email'].errors && forms.controls['email'].touched) {
          @if (forms.controls['email'].errors['required']) {
            <div class="invalid-feedback d-block">Campo Requerido</div>
          }
          @if (forms.controls['email'].errors['email']) {
            <div class="invalid-feedback d-block">El formato ingresado es inválido</div>
          }
          @if (forms.controls['email'].errors['minlength']) {
            <div class="invalid-feedback d-block">Cantidad mínima de 5 caracteres</div>
          }
          @if (forms.controls['email'].errors['maxlength']) {
            <div class="invalid-feedback d-block">Cantidad máxima de 100 caracteres</div>
          }
        }
      </div>

      @if (emailEnviado) {
        <div class="form-group">
          <label for="token">Ingrese su token</label>
          <input type="text" formControlName="token" [readonly]="tokenBloqueado">
          @if (forms.controls['token'].errors && forms.controls['token'].touched) {
            @if (forms.controls['token'].errors['required']) {
              <div class="invalid-feedback d-block">Campo Requerido</div>
            }
          }
        </div>
      }

      @if (tokenCorrecto) {
        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="input-password">
            <input [type]="verPassword ? 'text' : 'password'" id="password" formControlName="password" />
            <button type="button" class="btn-ojito" (click)="verPassword = !verPassword">
              <i class="fas" [ngClass]="verPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          @if (forms.controls['password'].errors && forms.controls['password'].touched) {
            @if (forms.controls['password'].errors['required']) {
              <div class="invalid-feedback d-block">Campo Requerido</div>
            }
            @if (forms.controls['password'].errors['minlength']) {
              <div class="invalid-feedback d-block">Cantidad mínima de 6 caracteres</div>
            }
            @if (forms.controls['password'].errors['maxlength']) {
              <div class="invalid-feedback d-block">Cantidad máxima de 100 caracteres</div>
            }
          }
        </div>

        <div class="form-group">
          <label for="confirmacion">Repita su contraseña</label>
          <div class="input-password">
            <input [type]="verConfirmar ? 'text' : 'password'" id="confirmacion" formControlName="confirmacion" />
            <button type="button" class="btn-ojito" (click)="verConfirmar = !verConfirmar">
              <i class="fas" [ngClass]="verConfirmar ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          @if (forms.controls['confirmacion'].errors && forms.controls['confirmacion'].touched) {
            @if (forms.controls['confirmacion'].errors['required']) {
              <div class="invalid-feedback d-block">Campo Requerido</div>
            }
            @if (forms.controls['confirmacion'].errors['minlength']) {
              <div class="invalid-feedback d-block">Cantidad mínima de 6 caracteres</div>
            }
            @if (forms.controls['confirmacion'].errors['maxlength']) {
              <div class="invalid-feedback d-block">Cantidad máxima de 100 caracteres</div>
            }
          }
        </div>
      }

      <!-- BOTONES -->
      @if (!emailEnviado) {
        @if (enviandoMail) {
          <button class="boton-instrucciones" disabled>Enviando...</button>
        } @else {
          <button class="boton-instrucciones" (click)="enviarMail()" [disabled]="forms.get('email')?.invalid">
            Enviar instrucciones
          </button>
        }
      } @else if (emailEnviado && !tokenCorrecto) {
        @if (!comprobandoToken) {
          <button class="boton-instrucciones" (click)="validarToken()" [disabled]="forms.get('token')?.invalid">
            Verificar Token
          </button>
        } @else {
          <button class="boton-instrucciones" disabled>Verificando...</button>
        }
      } @else if (tokenCorrecto) {
        @if (!cambiandoPassword) {
          <button class="boton-instrucciones" (click)="cambiarContrasenia()"
                  [disabled]="forms.get('password')?.invalid || forms.get('confirmacion')?.invalid">
            Cambiar contraseña
          </button>
        } @else {
          <button class="boton-instrucciones" disabled>Cambiando...</button>
        }
      }

      @if (mensajeError) {
        <p class="alert alert-danger mt-2">{{ mensajeError }}</p>
      }
    </form>


    <div class="volver-login">
      <a [routerLink]="'/login'">← Volver al inicio de sesión</a>
    </div>
  </div>
</div>
@if (mensajeExito == true) {
  <div class="toast-exito">
    <i class="bi bi-check-circle-fill me-2"></i>
    ¡Contraseña actualizada exitosamente!
  </div>
}

