<div class="modal-content">
  <h3><i class="fas fa-lock"></i> Confirmar identidad</h3>

  <div class="input-wrapper">
    <label for="password">Ingrese su contraseña:</label>
    <input
      type="password"
      [(ngModel)]="password"
      id="password"
      placeholder="Contraseña"
    />
    @if(mensajeError){
      <div class="mensaje-error">
        {{ mensajeError }}
      </div>
    }
  </div>

  <div class="modal-buttons">
    @if(this.validando){
      <button class="confirm" [disabled]="validando">Validando...</button>
    }@else{
      <button class="confirm" (click)="confirmar()" [disabled]="validando">Confirmar</button>
    }
    <button class="cancel" (click)="onCancel.emit()">Cancelar</button>
  </div>
</div>
