<section class="registro-optica">
  <h2 class="titulo-seccion">Registrá tu óptica</h2>
  <p class="subtitulo-seccion">
    Formá parte de nuestra plataforma y llevá tu óptica al mundo digital. Ofrecé tus modelos con simulador virtual y llegada directa a clientes.
  </p>
  <hr class="linea-decorativa">
  <div class="beneficios-optica">
    <div class="card">
      <img src="assets/img/imagen-probador-init.png" alt="Imagen probador" />
      <h3>Mostrá tus anteojos</h3>
      <p>Cargá tus modelos y permití que los usuarios los prueben virtualmente.</p>
    </div>
    <div class="card">
      <img src="assets/img/imagen-ganancias-init.png" alt="Imagen ganancias" />
      <h3>Aumentá tus ventas</h3>
      <p>Recibí consultas de clientes cercanos y mejorá tu visibilidad local.</p>
    </div>
    <div class="card">
      <img src="assets/img/imagen-suscribirse-init.png" alt="Imagen suscribite" />
      <h3>Suscripción mensual</h3>
      <p>Accedé a todos los beneficios por una tarifa accesible. Cancelá cuando quieras.</p>
    </div>

    <div class="card">
      <img src="assets/img/imagen-ubicacion-init.png" alt="Imagen ubicacion" />
      <h3>Visibilidad en el mapa</h3>
      <p>Los usuarios pueden encontrarte fácilmente desde el mapa interactivo.</p>
    </div>

  </div>
  <div class="boton-centro">
    <a (click)="redirigirAregistrarse()" class="btn-principal">Comenzar registro</a>
  </div>

</section>
