<section  class="anteojos-section">
  <h2 class="titulo-seccion">
    Aquí podés encontrar múltiples ópticas que ofrecen sus modelos de anteojos.<br>

  </h2>

  <p class="subtitulo-seccion">Elegí entre distintas categorías según tu estilo.</p>
  <hr class="linea-decorativa" />
  <div class="galeria-anteojos">
    <div class="card">
      <img src="assets/img/imagen-anteojo-sol.png" alt="Anteojos de sol" />
      <p>Modelos con protección UV para el verano y estilo asegurado.</p>
    </div>
    <div class="card">
      <img src="assets/img/imagen-anteojo-hombre.png" alt="Anteojos para hombre" />
      <p>Diseños modernos y elegantes para hombres.</p>
    </div>
    <div class="card">
      <img src="assets/img/imagen-anteojo-mujer.png" alt="Anteojos para mujer" />
      <p>Estilos delicados y variados para cada personalidad femenina.</p>
    </div>
  </div>

  <div class="btn-principal-div">
    <button class="btn-principal">Ver ópticas disponibles</button>
  </div>
</section>

