.anteojos-section {
  padding: 3rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.galeria-anteojos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}



