<header id="header" class="header">
  <!--<div class="logo">OPTICA IA</div>-->
  <a routerLink="/" class="logo-container">
    <img src="assets/img/icono-inicio.png" alt="Óptica IA" class="logo" />
  </a>

  <nav class="menu">
    <a (click)="irASeccion('portada-section')">Inicio</a>
    <a (click)="irASeccion('anteojos-section')">Anteojos</a>
    <a (click)="irASeccion('simulador-section')">Simulador con IA</a>
    <a (click)="irASeccion('registrarse-section')">Registra tu negocio</a>
    <a (click)="irASeccion('nosotros-section')">Nosotros</a>
    <a (click)="irASeccion('contacto-section')">Contacto</a>
  </nav>

  <div class="actions">

    <button class="icon-button" aria-label="Favorites">
      <i class="material-icons">favorite_border</i>
    </button>
    <button class="icon-button" aria-label="Cart">
      <i class="material-icons">shopping_cart</i>
    </button>
    <button class="sign-in-button" (click)="irAlogin()">Ingresar</button>
  </div>
</header>
