<header class="header">
  <!--<div class="logo">OPTICA IA</div>-->
  <a routerLink="/" class="logo-container">
    <img src="assets/img/icono-inicio.png" alt="Óptica IA" class="logo" />
  </a>

  <nav class="menu">
    <a routerLink="/quiz">Inicio</a>
    <a routerLink="/eyeglasses">Anteojos</a>
    <a routerLink="/sunglasses">Simulador con IA</a>
    <a routerLink="/contacts">Cómo funciona</a>
    <a routerLink="/accessories">Nosotros</a>
    <a routerLink="/exams">Contacto</a>
  </nav>

  <div class="actions">

    <button class="icon-button" aria-label="Favorites">
      <i class="material-icons">favorite_border</i>
    </button>
    <button class="icon-button" aria-label="Cart">
      <i class="material-icons">shopping_cart</i>
    </button>
    <button class="sign-in-button">Sign in</button>
  </div>
</header>
